// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fileInFeed {
    display: block;
    border: 2px solid black;
    padding: 10px;
    width: 60%;
}